/* Стилі для всього документа */

body {
    font-family: 'Roboto', sans-serif;
}

/* Стилі для хедера */

header {
    /* Оформлення хедера */
}

/* Стилі для основного вмісту сторінки */

main {
    /* Оформлення основного вмісту сторінки */
}

/* Стилі для футера */

footer {
    /* Оформлення футера */
}

/* Стилі для кнопок і посилань */

button,
a {
    /* Оформлення кнопок і посилань */
}

/* Додаткові стилі для інших елементів */

/* Налаштування кольорів */

:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --link-color: #007bff;
    --button-color: #ffffff;
}
